.LGTFullBox {
  display:flex; height:100vh;
  .LFTFInbox {
    display:flex; flex-direction:column; justify-content:space-between; align-items:flex-start; height:100vh;
  }
  .contFullBox {
    display:flex; flex:1; width:100%; background-color:#f5f5f2; flex-direction:column; justify-content:flex-start; align-items:flex-start;
  }
}

.SetTDB {
  display:flex; width:100%; height:calc(100vh - 60px); justify-content:center; align-items:center;
}

.seticon {
  position:relative;
  &::after {
    content:""; display:flex; width:4px; height:4px; background-color:#FFFFFF; position:absolute; top:calc(50% - 2px); left:20px; border-radius:4px;
  }
}

.setitem {
  height:40px;
  span {display:flex; width:100%; height:24px; overflow:hidden; line-height:24px;}
}

.overviewContainer {
  display:flex; width:100%; flex-direction:column; padding: 40px 40px 16px; background-color: #f4f6f8; justify-content:flex-start; align-items:flex-start;
  .overTop {
    display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; margin-bottom:20px;
  }
  .overviewTitle {
    font-size:24px; font-weight:600; text-align:left;
  }
  .LeftCont {display:flex;}
  .RightCont {display:flex; flex-direction:row; justify-content:flex-end; align-items:center;}
}

.overChartCont {
  display:flex; width:100%; flex-direction:column; padding: 0 40px 16px; background-color: #f4f6f8;
  .gridBox {
    display:flex; flex-direction:column; padding:20px; background-color:#FFFFFF; border-radius: 12px;
    .GridTitle {
      display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding:4px 0; margin-bottom:16px;
      .GTLeft {
        display:flex; flex-direction:row; justify-content:flex-start; align-items:center;
        strong {display:flex; font-size:18px; line-height:26px; font-weight:600;}
      }
      .GTRight {display:flex; flex-direction:row; justify-content:flex-end; align-items:center;}
    }
  }
}

.fullFooter {
  display:flex; width:100%; justify-content:center; align-items:center; padding:64px 40px 16px; font-size:12px; font-weight:400; line-height:16px; color:#666666;
}

.selectItem {
  display:inline-flex; padding:6px 12px; border-radius:6px;
  option {color:#FFFFFF;}
  .arrowItem {padding-right:6px;}
}

.filterBar {
  display: flex; width:100%; justify-content:flex-start; align-items: center; margin-bottom: 24px; background-color: #2f332E; color: white; padding: 16px 20px; border-radius: 12px;
  .filterButton {
    background:#FFFFFF; border:1px solid #e6e6e6; padding:5px; cursor: pointer; border-radius:6px; font-size:0;
  }
  .filterLine {display:flex; width:1px; height:20px; background-color:#666666; margin:0 16px;}
}

.layoutBar {
  display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; margin-bottom:46px;
  .layoutBox {
    display:flex; flex-direction:row; justify-content:start; align-items:center; gap:12px;
    strong {display:flex; font-size:14px; line-height:20px; font-weight:500; color:#666666;}
    .layoubtn {
      display:flex; flex-direction:row; justify-content:flex-start; align-items:center; border:1px solid #e6e6e6; background-color:#FFFFFF; padding:6px 12px; border-radius:6px; gap:8px;
    }
  }
  .btnBox {
    display:flex; flex-direction:row; justify-content:flex-end;
  }
}

.searchInput {
  display: inline-flex; flex: 1 1 100px; background: none; color: white; border: none; padding: 8px; margin-right: 16px;
  &::placeholder { color: #ccc; }
}
.textButton {
  background:rgba(255,255,255,0.1); color: #FFFFFF; border: 1px solid rgba(255,255,255,0.5); padding: 5px 11px; margin-right: 8px; border-radius: 6px; cursor: pointer;
  .gray {color:#b3b3b3}
}
.iconTopButton {
  background:#FFFFFF; font-size:0; color: #FFFFFF; border: 1px solid #e6e6e6; padding: 5px; margin-left: 8px; border-radius: 6px; cursor: pointer;
}
.iconButton {
  background:none; color: #FFFFFF; border: 1px solid transparent; padding: 5px 11px; margin-left: 8px; cursor: pointer;
}
.spacer {
  flex-grow: 1;
}
.createSegmentButton {
  display:inline-flex; justify-content:space-between; align-items:center; padding:6px 12px; border-radius:6px; background-color: #7D9D9C; cursor:pointer;
  span {display:inline-flex; margin-left:4px; font-size:14px; line-height:20px; color:#FFFFFF;}
}
.downloadButton {
  display:inline-flex; justify-content:center; align-items:center; background: none; color: white; border: none; padding: 8px; margin-left: 16px; cursor: pointer; display: flex; align-items: center;
  img {margin-right:4px;}
}
.metricGrid {
  display: grid; width:100%; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 16px;
}
.metricCard {
  display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; background-color: white; padding: 16px 20px; text-align: center; border-radius:12px; height: 122px; 
}
.metricTitle { 
  display: flex; text-align: left; height: 32px; line-height: 16px; font-size: 14px; letter-spacing: 0; font-weight: 400; color: #666666; 
}
.metricValue {
  display: flex; text-align: left; line-height: 32px; font-size: 22px; color: #1a1a1a; font-weight: 500; 
}
.metricChangePositive {
  display: flex; text-align: left; font-weight: 600; font-size: 14px; line-height: 20px; color: #2C4EF8; 
}
.metricChangeNegative {
  display: flex; text-align: left; font-weight: 600; font-size: 14px; line-height: 20px; color: #F04345; 
}
.recharts-tooltip-item-name {
  font-weight: bold; margin-right: 5px;
}

/* Modal Design */
.CustomModalBox {
  display:flex; flex-direction:row; justify-content:center; align-items:center;
  .CustomModal {
    display:flex; width:60%; max-width:1000px; background-color: #FFFFFF; border-radius: 10px; box-Shadow: 24px;
  }
}

.popupContainer {
  background-color: #fff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); padding:20px; width:100%; /* 적절한 너비 설정 */
  .popupHeader {
    display: flex; justify-content: space-between; align-items: center; margin-bottom:32px;
    .pHTitle {display:flex; font-size:18px; line-height:26px; color:#1a1a1a; font-weight:600;}
    .closeButton {
      background: none; border: none; cursor: pointer; font-size: 1.2rem; color: #555;
    }
  }

  .popupBody {
    display:flex; width:100%; flex-direction:column; margin-bottom:32px;
    .inputGroup {
      margin-bottom: 15px;

      label {display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
      }

      input[type="text"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1rem;
      }

      textarea {
        min-height: 80px;
      }
    }

    .categoryTime {
      display: flex;
      gap: 20px;

      .inputGroup {
        flex: 1;
      }
    }

    .timeRangeInput {
      display: flex; align-items: center; position:relative;
      input[type="text"] {flex-grow: 1; padding-right:35px;}
      .inpitImg {position:absolute; top:calc(50% - 12px); right:7px;}
    }

    .tabButtons {
      display: flex; margin-bottom: 16px; border:1px solid #e6e6e6; border-radius:6px; overflow:hidden;
      button {
        flex:1 1 20%; font-size:14px; line-height:20px; font-weight:500; color:#666666; padding:8px; border-right:1px solid #e6e6e6; background-color:#FFFFFF; cursor:pointer;
        &:last-of-type {border-right:none;}
        &.activeTab {
          color:#FFFFFF; background-color:#2F332E; border:none;
        }
      }
    }

    .tabContent {
      padding:0; display:flex; width:100%;
      .tabInCont {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
      .tcTitle {display:flex; margin-bottom:32px; font-size:12px; line-height:16px; color:#666666; font-weight:400;}
      .filterGroup {
        display:flex; flex-direction:column; width:100%; margin-bottom:32px;
        &:last-of-type {margin-bottom:0;}
        .filterLabel {
          display:flex; flex-direction:row; justify-content:flex-start; align-items:center; margin-bottom:8px; font-size:14px; line-height:20px; font-weight:600; color:#1a1a1a;
        }
        .filterRow {display:flex; gap:10px; align-items:center;
          
          .filterOR {
            display:inline-flex; justify-content:center; align-items:center; text-align:center; padding:9px; background: none; border: 1px solid #e6e6e6; border-radius: 8px;
            span {display:flex; width:20px; height:20px; font-size:14px; line-height:20px; color:#1a1a1a; font-weight:600;}
          }
          .removeButton {
            display:inline-flex; justify-content:center; align-items:center; text-align:center; padding:9px; background: none; border: 1px solid #e6e6e6; border-radius: 8px; cursor: pointer;
            span {
              display:flex; justify-content:center; align-items:center; width:20px; height:20px;
              &:after {content:""; display:flex; width:13px; height:1px; background-color:#e6e6e6;}
            }
          }
          .regionSearch {
            flex: 1 1 60%;
        
            .placeholder {
              color: #aaa;
            }
        
            .MuiInputBase-root {
              padding-right: 32px; /* RemoveIcon 공간 확보 */
            }
          }
        }
        .infoIcon {
          color: #007bff; font-size: 0.9rem; margin-left: 5px;
        }
      }
    }
  }

  .popupFooter {
    display: flex; justify-content: flex-end; gap: 10px;
    .cancelButton, .okButton {padding: 9px 15px; border-radius: 6px; font-size:14px; line-height:20px; font-weight:500; min-width:100px;}
    .cancelButton {border: 1px solid #e6e6e6; background-color: #FFFFFF; color: #1a1a1a;}
    .okButton {background-color: #2f332E; color: #FFFFFF; border:1px solid #2f332E;}
  }
}

.conditionSelect {
  border-radius:8px !important;
  fieldset {border-color:#e6e6e6;}
  .placeholder {color:#b3b3b3; font-size:14px;}
  .MuiSelect-select {
    padding:7px 32px 7px 15px; font-size:14px; appearance: none; background-size: 20px; border:none !important; height:26px; line-height:26px;
    background:url('../assets/images/icons/basic/ic_basic_sm_bk_caret_down_n.png') calc(100% - 16px) center no-repeat;
  }
  .MuiSelect-icon {opacity:0; pointer-events:none;}
  &.Open {
    .MuiSelect-select {
      background:url('../assets/images/icons/basic/ic_basic_sm_bk_caret_up_n.png') calc(100% - 16px) center no-repeat;
    }
  }
  &.Search {
    .MuiSelect-select {
      padding-left:50px;
      background-position:calc(100% - 16px) center,16px center;
      background-size:20px 20px, 24px 24px;
      background-repeat:no-repeat;
      background-image:url('../assets/images/icons/basic/ic_basic_sm_bk_caret_down_n.png'),url('../assets/images/icons/basic/btn_action_md_bk_search_n.png');
    }
    &.Open {
      .MuiSelect-select{
        background-image:url('../assets/images/icons/basic/ic_basic_sm_bk_caret_up_n.png'),url('../assets/images/icons/basic/btn_action_md_bk_search_n.png');
      }
    }
  }
  .MuiList-root {
    display:flex; flex-direction:column;
  }
}

.timeRangeInput {
  position: relative; /* datePickerContainer의 기준 위치 설정 */
  display: flex;
  align-items: center;
}

.datePickerContainer {
  position: absolute;
  top: 100%; /* 입력 필드 바로 아래 */
  left: 0;
  z-index: 10; /* 다른 요소 위에 표시 */
  background-color: #fff; /* 배경색 */
  border: 1px solid #ccc; /* 테두리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.calendarButton {
  margin-left: 8px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.timeRangeInput {
  position: relative;
  display: flex;
  align-items: center;
}

.datePickerPopupWrapper {
  position: absolute; top:calc(100% + 10px); left: 0; z-index: 100; background-color: #FFFFFF; border: 1px solid #e6e6e6; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08); padding: 32px 28px; border-radius:8px;
}

.datePickerPopup .quickSelectButtons {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.datePickerPopup .quickSelectButtons button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 0.9rem;
}

.datePickerPopup .react-datepicker-wrapper {
  width: auto !important; /* 인라인 달력 너비 조정 */
}

.datePickerPopup .datePickerFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}

.datePickerPopup .datePickerFooter button {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.datePickerPopup .datePickerFooter .resetButton {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
}

.datePickerPopup .datePickerFooter .okButton {
  background-color: #1c7ed6;
  color: white;
  border: none;
}

.calendarButton {
  margin-left: 8px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.datePickerPopup.twoCalendars {
  .quickSelectButtons {
    display: flex; gap: 6px; margin-bottom: 32px;
    button {
      padding: 5px 11px; border: 1px solid #e6e6e6; border-radius: 6px; background-color: #ffffff; cursor: pointer; font-size:14px; line-height:20px; font-weight:500;
    }
  }
  .calendarsContainer {
    display: flex;
    gap: 20px; /* 달력 사이 간격 */
  }
  .lineCenter {
    display:flex; width:1px; height:auto; background-color:#e6e6e6; margin:0 20px;
  }
  .singleCalendar {
    width: auto;
  }
  .react-datepicker {
    display: flex; /* 달력들을 가로로 배치 */
    gap: 20px; /* 달력 사이 간격 */
    border: none;
  }

  .react-datepicker__month-container {
    width: auto !important;
  }

  .react-datepicker__header {
    background-color: transparent;
    border-bottom: none;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .react-datepicker__day-names {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
  }

  .react-datepicker__day-name {
    color: #888;
    font-size: 0.8rem;
    width: 30px;
    text-align: center;
  }

  .react-datepicker__month {
    margin: 0;
  }

  .react-datepicker__week {
    display: flex;
    justify-content: space-around;
  }

  .react-datepicker__day,
  .react-datepicker__day--030,
  .react-datepicker__day--031 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9rem;
    color: #333;
    background-color: transparent;
    border: none;
    outline: none;

    &--selected,
    &--in-range {
      background-color: #d9f0e7;
      color: #333;
    }

    &--highlighted {
      background-color: #a6d9c5;
      color: #333;
    }

    &--outside-month {
      color: #ccc;
    }
  }

  .customHeader {
    display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; padding: 0 10px;
    .cHcenter {display:flex; flex-direction:row; justify-content:center; align-items:center; font-size:16px; line-height:24px; font-weight:600; color:#1a1a1a;}
    .cHLeft {display:flex; flex-direction:row; justify-content:flex-start; align-items:center;}
    .cHRight {display:flex; flex-direction:row; justify-content:flex-end; align-items:center;}
    button {
      background: none; border: none; padding: 5px; cursor: pointer; font-size: 1rem; color: #555;
      &:disabled {
        color: #ccc; cursor: not-allowed;
      }
      &.prevYear,
      &.nextYear {
        font-size: 0.8rem; font-weight: bold;
      }
    }
  }

  .datePickerFooter {
    display: flex; justify-content: flex-end; margin-top: 20px; gap: 10px;
    button {
      padding:5px 11px; border-radius:6px; cursor: pointer; font-size:14px; line-height:20px; font-weight:500; min-width:64px;
    }
    .resetButton {border: 1px solid #e6e6e6; background-color: #FFFFFF; color: #1a1a1a;}
    .okButton {background-color: #2f332E; color: #FFFFFF; border:1px solid #2f332E;}
  }
}

.CustomList {
  display:flex; flex-direction:column; padding:7px ; box-shadow:none !important; border:1px solid #e6e6e6; border-radius:6px !important;
  .CustomListBox {
    display:flex; flex-direction:column; padding:0;
  }
  .Mui-selected {border-radius:6px !important; background-color:#78B4AF1A !important; color:#6E9794;}
  .MuiButtonBase-root:hover {border-radius:6px !important; background-color:#78B4AF2b !important;}
  .placeholder {color:#b3b3b3; font-size:14px; font-weight:400;}
}

.custom-tooltip-wrapper {
  display:flex; justify-content:center; align-items:center; margin-left:10px;
  img {width:20px; height:20px;}
}

.custom-tooltip {
  .MuiTooltip-tooltip{
    background-color:rgba(0,0,0,0.85);
  }
  .MuiTooltip-arrow {
    &::before {color:rgba(0,0,0,0.85);}
  }
}

.tooltip-content {
  display:flex; position:relative; padding:8px 40px 8px 16px;
  span {
    display:block; word-break:keep-all; font-size:12px; line-height:16px; font-weight:400; color:#cccccc;
  }
  .close-button {position:absolute; top:8px; right:8px; cursor:pointer;}
}

/* DualDepthFilterPopup.css */
.modalOverlay {position:absolute; top:160px; left:148px; height:calc(100% - 160px); z-index: 1000;}
.modalOverlay *::-webkit-scrollbar {width:4px;}
.modalOverlay *::-webkit-scrollbar-thumb {background-color: #CCCCCC; border-radius:4px; background-clip:padding-box;}
.modalOverlay *::-webkit-scrollbar-track {background-color: #FFFFFF;}
.modalContent {
  display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start;
  background-color:#FFFFFF; border-radius:8px; box-shadow:0 4px 12px rgba(0, 0, 0, 0.15); max-width:1000px; max-height:700px; height:100%; overflow: hidden; border:1px solid #e6e6e6;
}

.filterTitle {
  display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center; padding:32px 28px 8px 28px;
  strong {display:flex; font-size:18px; font-weight:600; line-height:26px; color:#1a1a1a;}
}
.inboxDepth {
  display:flex; flex-direction:row; justify-content:flex-start; align-items:flex-start; width:100%; height:calc(100% - 140px);
  .leftDepth {
    display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; width:399px; height:100%; padding:0 8px;
    .leftContent {
      display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; width:100%; height:100%; padding:24px 20px; overflow-y: auto;
    }
  }
  .rightDepth {
    display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; width:599px; height:100%; padding:0 8px; border-left:1px solid #e6e6e6;
    .rightContent {
      display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; width:100%; height:100%; padding:24px 20px; overflow-y: auto;
      .filterCategory {
        h4 {margin-bottom:24px;}
      }
    }
  }
}

.filterCategory {
  display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; margin-bottom:32px;
  &:last-of-type {margin-bottom:0;}
  h4 {
    display:flex; width:100%; justify-content:flex-start; align-items:flex-start; background-color:#f5f9f9; padding:6px 12px; margin-bottom:10px; border-radius:4px;
    font-size:14px; font-weight:600; line-height:20px; color:#666666;
  }
  .filterList {
    display:flex; flex-direction:row; flex-wrap:wrap; padding:8px; gap:20px;
    li {display:flex; flex:1 1 40%;}
  }
}

.filterBox {
  display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:0 8px; gap:32px;
  .filterinBox {
    display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:12px;
    .inTitle {display:flex; font-size:14px; line-height:20px; font-weight:600; color:#1a1a1a;}
    .singleCont {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center;}
  }
  .rowCont {
    display:flex; width:100%; flex-direction:row; gap:20px; flex-wrap:wrap;
    &.row2 {
      > * {display:flex; width:calc(50% - 10px)}
    }
    &.row3 {
      > * {display:flex; width:calc(33% - 13px)}
    }
    &.row4 {
      > * {display:flex; width:calc(25% - 15px);}
    }
  }
  .colCont {
    display:flex; width:100%; flex-direction:column;
  }
}

.rowLinebox {
  display:flex; justify-content:center; align-items:center; 
  & > * {display:inline-flex; flex:1 1 50%;}
  .center {display:flex; flex:1 1 40px; justify-content:center; align-items:center; font-size:14px; line-height:20px; color:#1a1a1a; text-align:center;}
}

/* Right Depth Footer 스타일 */
.DepthFooter {
  display:flex; width:100%; flex-direction:row; justify-content:flex-end; align-items:center; padding:8px 28px 32px; gap:12px;
  button {
    padding:5px 11px; border-radius:6px; cursor: pointer; font-size:14px; line-height:20px; font-weight:500; min-width:64px;
  }
  .resetButton {border: 1px solid #e6e6e6; background-color: #FFFFFF; color: #1a1a1a;}
  .okButton {background-color: #2f332E; color: #FFFFFF; border:1px solid #2f332E;}
}

.checkitem {
  display:flex; flex-direction:row; justify-content:flex-start; align-items:center; position:relative; gap:8px;
  .checkIcon {
    display:flex; width:24px; height:24px; background-image:url('../assets/images/icons/input/btn_multiple_selection_off_n.png');
  }
  input {
    position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer; z-index:2;
    &:checked {
      & + .checkIcon{
        background-image:url('../assets/images/icons/input/btn_multiple_selection_on_n.png');
      }
    }
  }
  .text {display:flex; flex:1; font-size:14px; line-height:20px; font-weight:400; color:#1a1a1a;}
}

.radioitem {
  display:flex; flex-direction:row; justify-content:flex-start; align-items:center; position:relative; gap:8px;
  .checkIcon {
    display:flex; width:24px; height:24px; background-image:url('../assets/images/icons/input/btn_radio_off_n.png');
  }
  input {
    position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer; z-index:2;
    &:checked {
      & + .checkIcon{
        background-image:url('../assets/images/icons/input/btn_radio_on_n.png');
      }
    }
  }
  .text {display:flex; font-size:14px; line-height:20px; font-weight:400; color:#1a1a1a;}
}

.filterInput {
  padding:7px 15px 7px 15px; font-size:14px; appearance:none; border:1px solid #e6e6e6; border-radius:8px; min-width:0;
  &::placeholder {color:#b3b3b3;}
}

.AnalyticBox {
  display:flex; width:100%; flex-direction:column;
  .topBox {
    display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin-bottom:16px;
    .tBLeft {display:flex; width:100%; max-width:600px; justify-content:flex-start; align-items:center;}
    .tBRight {display:flex; justify-content:flex-end; align-items:center;}
    .tab-button {
      display:flex; flex:1 1 50%; background-color:#FFFFFF; border:1px solid #e6e6e6; height:40px; justify-content:center; align-items:center; cursor:pointer;
      font-size:14px; font-weight:500; color:#666666; line-height:20px;
      &:first-child {border-radius:8px 0 0 8px; border-right:none;}
      &:last-child {border-radius:0 8px 8px 0; border-left:none;}
      &.active {color:#FFFFFF; background-color:#2F332E; border-color:#2F332E;}
    }

    .run-button {
      display:inline-block; justify-content:center; align-items:center; min-width:164px; border-radius:6px; background-color:#D4E7E5; padding:6px 12px;
      font-size:14px; font-weight:500; line-height:20px; color:#FFFFFF; cursor:pointer;
    }
  }

  .contentArea {
    display: flex; flex-grow:1; // 남은 공간 모두 차지
    .workbenchContent {
      display: flex; width:100%; flex-grow:1; gap:16px;
      .leftPanel {
        display:flex; flex-direction:column; width:100%; max-width:400px; border-radius:12px; background-color:#FFFFFF;
        .PanelBox {
          display:flex; flex-direction:column; width:100%; justify-content:flex-start; align-items:flex-start; padding:12px 0 24px; gap:32px;
          .filterBox {gap:32px; padding:0;}
          .inTitle {padding:0 28px;}
          .rowCont {padding:0 28px;}
          .singleCont {padding:0 28px;}
        }
      }
      .rightpanel {
        display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; border-radius:12px; background-color:#FFFFFF; padding-bottom:12px;
        .inboxCont {
          display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start;
          .inBTitle {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:flex-start; padding:24px 24px 8px; font-size:18px; font-weight:600; line-height:26px; color:#1a1a1a;}
          .inBTCont {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:12px 28px;}
        }
      }
    }

    .savedcontent {
      display:flex; flex-grow:1; width:100%; justify-content:flex-start; align-items:flex-start; flex-direction:row; flex-wrap:wrap; gap:12px;
    }
  }
}

.dimensionsection {
  display:flex; width:100%; flex-direction:column; gap:0;
  .sectionheader {
    display: flex; width:100%; justify-content:space-between; align-items:center; padding:12px 28px 8px;
    color:#666666; font-weight:500; font-size:14px; line-height:20px;
  }
  .sectioncontent {
    display:flex; flex-direction:row; justify-content:flex-start; align-items:flex-start; flex-wrap:wrap; overflow: hidden; background-color:#f9f9f9; gap:24px;
    .checkitem {flex:1 1 calc(50% - 15px);}
  }
}

.toggleswitch {
  display:flex; width:92px; height:32px; flex-direction:row; justify-content:flex-start; align-items:center; border-radius:8px; padding:2px; background-color:#e6e6e6; position:relative; cursor:pointer;
  &.on {justify-content:flex-end;}
  .toggletrack {display:flex; position:relative; width:44px; height:28px; border-radius:8px; background-color:#FFFFFF; z-index:1;}
  .togglecontainer {
    display:flex; flex-direction:row; justify-content:flex-start; align-items:center; position:absolute; top:0; left:0; width:100%; height:100%; z-index:2;
    .label {display:flex; flex:1 1 50%; justify-content:center; align-items:center;}
  }
}

.saveItem {
  display:flex; flex-direction:column; width:calc(20% - 12px); background-color:#FFFFFF; border-radius:8px; padding-bottom:12px;
  .SITitle {
    display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; padding:24px 24px 8px;
    .TitleName {display:flex; font-size:18px; line-height:26px; font-weight:600; color:#1a1a1a;}
    .TitleIcon {
      display:flex; flex-direction:row; justify-content:flex-end; align-items:center; gap:12px;
      button {display:inline-flex; width:24px; height:24px; border:none; background-color:transparent; justify-content:center; align-items:center; cursor: pointer;}
    }
  }
  .STCont {
    display:flex; width:100%; flex-direction:column; padding:12px 28px; gap:32px;
    .stcBox {
      display:flex; width:100%; flex-direction:column; gap:8px;
      .stcTitle {display:flex; font-size:14px; line-height:20px; font-weight:600; color:#1a1a1a;}
      .stcText {display:flex; font-size:14px; line-height:20px; font-weight:400; color:#1a1a1a; word-break:keep-all;}
    }
  }
}