.SetTDB {
  display:flex; width:100%; height:calc(100vh - 60px); justify-content:center; align-items:center;
}

.seticon {
  position:relative;
  &::after {
    content:""; display:flex; width:4px; height:4px; background-color:#FFFFFF; position:absolute; top:calc(50% - 2px); left:20px; border-radius:4px;
  }
}

.setitem {
  height:40px;
  span {display:flex; width:100%; height:24px; overflow:hidden; line-height:24px;}
}

.overviewContainer {
  display:flex; flex-direction:column; padding: 40px 40px 16px; background-color: #f4f6f8;
  .overTop {
    display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin-bottom:20px;
  }
  .overviewTitle {
    font-size:24px; font-weight:600; text-align:left;
  }
  .LeftCont {display:flex;}
  .RightCont {display:flex; flex-direction:row; justify-content:flex-end; align-items:center;}
}

.overChartCont {
  display:flex; flex-direction:column; padding: 0 40px 16px; background-color: #f4f6f8;
  .gridBox {
    display:flex; flex-direction:column; padding:20px; background-color:#FFFFFF; border-radius: 12px;
    .GridTitle {
      display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding:4px 0; margin-bottom:16px;
      .GTLeft {
        display:flex; flex-direction:row; justify-content:flex-start; align-items:center;
        strong {display:flex; font-size:18px; line-height:26px; font-weight:600;}
      }
      .GTRight {display:flex; flex-direction:row; justify-content:flex-end; align-items:center;}
    }
  }
}

.selectItem {
  display:inline-flex; padding:6px 12px; border-radius:6px;
  option {color:#FFFFFF;}
  .arrowItem {padding-right:6px;}
}

.filterBar {
  display: flex; justify-content:flex-start; align-items: center; margin-bottom: 24px; background-color: #2f332E; color: white; padding: 16px 20px; border-radius: 12px;
  .filterButton {
    background:#FFFFFF; border:1px solid #e6e6e6; padding:5px; cursor: pointer; border-radius:6px; font-size:0;
  }
  .filterLine {display:flex; width:1px; height:20px; background-color:#666666; margin:0 16px;}
}

.searchInput {
  display: inline-flex; flex: 1 1 100px; background: none; color: white; border: none; padding: 8px; margin-right: 16px;
  &::placeholder { color: #ccc; }
}
.textButton {
  background:rgba(255,255,255,0.1); color: #FFFFFF; border: 1px solid rgba(255,255,255,0.5); padding: 5px 11px; margin-right: 8px; border-radius: 6px; cursor: pointer;
  .gray {color:#b3b3b3}
}
.iconTopButton {
  background:#FFFFFF; font-size:0; color: #FFFFFF; border: 1px solid #e6e6e6; padding: 5px; margin-left: 8px; border-radius: 6px; cursor: pointer;
}
.iconButton {
  background:none; color: #FFFFFF; border: 1px solid transparent; padding: 5px 11px; margin-left: 8px; cursor: pointer;
}
.spacer {
  flex-grow: 1;
}
.createSegmentButton {
  display:inline-flex; justify-content:space-between; align-items:center; padding:6px 12px; border-radius:6px; background-color: #7D9D9C; cursor:pointer;
  span {display:inline-flex; margin-left:4px; font-size:14px; line-height:20px; color:#FFFFFF;}
}
.downloadButton {
  display:inline-flex; justify-content:center; align-items:center; background: none; color: white; border: none; padding: 8px; margin-left: 16px; cursor: pointer; display: flex; align-items: center;
  img {margin-right:4px;}
}
.metricGrid {
  display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 16px;
}
.metricCard {
  display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; background-color: white; padding: 16px 20px; text-align: center; border-radius: 4px; height: 122px; 
}
.metricTitle { 
  display: flex; text-align: left; height: 32px; line-height: 16px; font-size: 14px; letter-spacing: 0; font-weight: 400; color: #666666; 
}
.metricValue {
  display: flex; text-align: left; line-height: 32px; font-size: 22px; color: #1a1a1a; font-weight: 500; 
}
.metricChangePositive {
  display: flex; text-align: left; font-weight: 600; font-size: 14px; line-height: 20px; color: #2C4EF8; 
}
.metricChangeNegative {
  display: flex; text-align: left; font-weight: 600; font-size: 14px; line-height: 20px; color: #F04345; 
}
.recharts-tooltip-item-name {
  font-weight: bold; margin-right: 5px;
}

/* Modal Design */
.CustomModalBox {
  display:flex; flex-direction:row; justify-content:center; align-items:center;
  .CustomModal {
    display:flex; width:60%; max-width:1000px; background-color: #FFFFFF; border-radius: 10px; box-Shadow: 24px;
  }
}

.popupContainer {
  background-color: #fff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); padding:20px; width:100%; /* 적절한 너비 설정 */
  .popupHeader {
    display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; border-bottom: 1px solid #eee; padding-bottom: 10px;

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: #555;
    }
  }

  .popupBody {
    margin-bottom: 20px;

    .inputGroup {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
      }

      input[type="text"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1rem;
      }

      textarea {
        min-height: 80px;
      }
    }

    .categoryTime {
      display: flex;
      gap: 20px;

      .inputGroup {
        flex: 1;
      }
    }

    .timeRangeInput {
      display: flex;
      align-items: center;

      input[type="text"] {
        flex-grow: 1;
        margin-right: 10px;
      }

      .calendarButton {
        background: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;
        color: #555;
      }
    }

    .tabButtons {
      display: flex;
      margin-bottom: 15px;
      border-bottom: 2px solid #eee;

      button {
        background: none;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 1rem;
        color: #555;

        &.activeTab {
          color: #007bff;
          border-bottom: 2px solid #007bff;
        }
      }
    }

    .tabContent {
      padding: 15px 0;

      .filterGroup {
        margin-bottom: 15px;

        .filterLabel {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          color: #333;
        }

        .filterRow {display:flex; gap:10px; align-items:center;
          select {
            display:inline-flex; padding:8px 32px 8px 16px; border: 1px solid #e6e6e6; border-radius:8px; font-size:14px; appearance: none; background-size: 20px;
            background:url('../assets/images/icons/basic/ic_basic_sm_bk_caret_down_n.png') calc(100% - 16px) center no-repeat;
            &:focus {background:url('../assets/images/icons/basic/ic_basic_sm_bk_caret_up_n.png') calc(100% - 16px) center no-repeat;}
            &.search {
              color:#B3B3B3;
              background-image:url('../assets/images/icons/basic/ic_basic_sm_bk_caret_down_n.png'),url('../assets/images/icons/basic/btn_action_md_bk_search_n.png');
              background-position:calc(100% - 16px) center,16px center;
              background-size:20px 20px, 24px 24px;
              background-repeat:no-repeat;
              padding-left:50px;
            }
          }
          .filterOR {
            display:inline-flex; justify-content:center; align-items:center; text-align:center; padding:9px; background: none; border: 1px solid #e6e6e6; border-radius: 8px;
            span {display:flex; width:20px; height:20px; font-size:14px; line-height:20px; color:#1a1a1a; font-weight:600;}
          }
          .removeButton {
            display:inline-flex; justify-content:center; align-items:center; text-align:center; padding:9px; background: none; border: 1px solid #e6e6e6; border-radius: 8px; cursor: pointer;
            span {
              display:flex; justify-content:center; align-items:center; width:20px; height:20px;
              &:after {content:""; display:flex; width:13px; height:1px; background-color:#e6e6e6;}
            }
          }
        }
        .infoIcon {
          color: #007bff;
          font-size: 0.9rem;
          margin-left: 5px;
        }
      }
    }
  }

  .popupFooter {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .cancelButton,
    .okButton {
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
    }

    .cancelButton {
      background-color: #f0f0f0;
      color: #333;
      border: 1px solid #ccc;
    }

    .okButton {
      background-color: #007bff;
      color: #fff;
      border: none;
    }
  }
}